@using DomainModels;
@{
    ViewBag.Title = "Chat machine";
}

<div class="jumbotron">
    <div>
        <h4>Now when we are logged in....</h4>
        <h4>Here is where the chat shall live!</h4>
    </div>
</div>